{{ define "main" }}

{{ with .Params.image }}<img src="{{ . }}" alt="{{page.Title}} - {{page.Params.oeuvre}}">{{ end }}

<ul class="buttons">
{{ with .Params.details }}<li><a href="{{.}}" target="_blank" rel="noopener noreferrer">détails de l'œuvre</a></li>{{ end }}
{{ with .Params.autres }}<li><a href="{{.}}" target="_blank" rel="noopener noreferrer">autres œuvres de l'artiste</a></li>{{ end }}
{{ with .Params.details }}<li><a href="{{.}}" target="_blank" rel="noopener noreferrer">site de l'artiste</a></li>{{ end }}
{{ with .Params.details }}<li><a href="{{.}}" target="_blank" rel="noopener noreferrer">vidéo</a></li>{{ end }}
</ul>

{{ .Content }}

{{ end }}